body{
    background:url('img/bg.jpg');
    background-size:cover;
}

h1{
	font-size: 40px;
	font-family: Helvetica;
	color: white;
	text-align: center;
	padding: 20px;
}

.col-sm img{
	width: 250px;
	height: 250px;
	display: block;
	margin:0 auto;
	padding: 20px;
}
ul{
	text-align: center;
}

li a{
	color: white;
	font-size: 20px;
	font-family: Helvetica;
}