body{
    background:url('img/bg.jpg');
    background-size:cover;
}

h1{
	font-size: 40px;
	font-family: Helvetica;
	color: white;
	text-align: center;
	padding: 20px;
}
h2{
	font-size: 20px;
	font-family: Helvetica;
	color: white;
	text-align: center;
	padding: 0px;
}

.col-sm img{
	width: 250px;
	height: 250px;
	display: block;
	margin:0 auto;
	padding: 20px;
}
ul{
	text-align: center;
}

li a{
	color: white;
	font-size: 20px;
	font-family: Helvetica;
}

input.eData {
	width:80%;
	display: block;
	margin: 0 auto;
}

#eDataOut{
	color: white;
	word-wrap: break-word;
}

.canV{
	display: block;
	margin: 0 auto;
	padding: 20px;
}
input.dButton{
    padding:5px 15px; 
    background:#10bce5; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin: 0 auto;
    display: block;
}

#eDataHeading{
	margin-top: 30px;
	padding: 10px;
}

.dropdown{
	
}